In [53]:
import boto3

s3 = boto3.client("s3")
bucket_name = 'leaschlossmanjedha'
file_name = 'best_hotel.csv'
s3.download_file(bucket_name, file_name, 'best_hotel.csv')

In [54]:
file_name = 'weather.csv'
s3.download_file(bucket_name, file_name, 'best_weather.csv')

In [55]:
import pandas as pd

In [56]:
df_hotel = pd.read_csv("best_hotel.csv")
df_weather = pd.read_csv("best_weather.csv")

In [57]:
df_hotel.isnull().head()

,city,name,url,rating,city_final,latitude,longitude,latitude2,longitude2,description
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [58]:
df_weather = pd.read_csv("best_weather.csv")

In [59]:
df_weather.isnull()

,Unnamed: 0,index,name,temp_day_x,temp_min_x,temp_max_x,feels_like_day_x,feels_like_morn_x,sunrise_x,humidity_x,...,min_feels_like_morn,min_sunrise,min_humidity,min_wind_speed,min_clouds,min_uvi,sum_pop,latitude,longitude,latitude_rounded
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [60]:
df_weather.head()

,Unnamed: 0,index,name,temp_day_x,temp_min_x,temp_max_x,feels_like_day_x,feels_like_morn_x,sunrise_x,humidity_x,...,min_feels_like_morn,min_sunrise,min_humidity,min_wind_speed,min_clouds,min_uvi,sum_pop,latitude,longitude,latitude_rounded
0,12,12,Gorges du Verdon,19.43,10.89,19.84,18.52,11.53,1727241932,96,...,7.53,1726636659,40,1.74,24,4.50,3.42,43.749656,6.328562,43.7497
1,25,25,Château du Haut-Kœnigsbourg,20.42,12.31,20.42,19.95,12.31,1727241704,97,...,7.93,1726636325,55,1.28,0,2.12,5.93,48.249523,7.345492,48.2495
2,19,19,Annecy,22.77,13.73,22.77,22.23,13.74,1727241987,98,...,8.97,1726636666,43,1.44,19,2.05,3.48,45.899235,6.128885,45.8992
3,21,21,Besançon,22.92,14.28,23.72,22.63,14.74,1727242017,99,...,8.71,1726636664,52,1.31,0,3.15,5.73,47.238022,6.024362,47.2380
4,27,27,Mont Saint-Michel,22.07,14.34,24.12,21.61,14.77,1727243833,65,...,10.15,1726638444,49,2.59,5,2.95,4.44,48.635954,-1.511460,48.6360

In [61]:
df_weather = df_weather.drop(df_weather.columns[[0]], axis = 1)

In [62]:
df_weather

,index,name,temp_day_x,temp_min_x,temp_max_x,feels_like_day_x,feels_like_morn_x,sunrise_x,humidity_x,wind_speed_x,...,min_feels_like_morn,min_sunrise,min_humidity,min_wind_speed,min_clouds,min_uvi,sum_pop,latitude,longitude,latitude_rounded
0,12,Gorges du Verdon,19.43,10.89,19.84,18.52,11.53,1727241932,96,4.82,...,7.53,1726636659,40,1.74,24,4.50,3.42,43.749656,6.328562,43.7497
1,25,Château du Haut-Kœnigsbourg,20.42,12.31,20.42,19.95,12.31,1727241704,97,6.16,...,7.93,1726636325,55,1.28,0,2.12,5.93,48.249523,7.345492,48.2495
2,19,Annecy,22.77,13.73,22.77,22.23,13.74,1727241987,98,2.84,...,8.97,1726636666,43,1.44,19,2.05,3.48,45.899235,6.128885,45.8992
3,21,Besançon,22.92,14.28,23.72,22.63,14.74,1727242017,99,5.41,...,8.71,1726636664,52,1.31,0,3.15,5.73,47.238022,6.024362,47.2380
4,27,Mont Saint-Michel,22.07,14.34,24.12,21.61,14.77,1727243833,65,7.64,...,10.15,1726638444,49,2.59,5,2.95,4.44,48.635954,-1.511460,48.6360

In [63]:
#Comme je n'ai pas utilisé le paramètre suffixe lors du merge, je dois cleaner à la main
df_weather = df_weather.rename(columns=
                        {'temp_day_x':'temp_day_max',
                         'temp_min_x':'temp_min_max',
                         'temp_max_x':'temp_max_max',
                         'feels_like_day_x':'feels_like_day_max',
                         'feels_like_morn_x':'feels_like_morn_max',
                         'sunrise_x':'sunrise_max',
                         'humidity_x':"humidity_max",
                         'wind_speed_x':'wind_speed_max',
                         'clouds_x':'clouds_max',
                         'uvi_x':'uvi_max',
                         'temp_day_y':'temp_day_mean',
                         'temp_min_y':'temp_min_mean',
                         'temp_max_y':'temp_max_mean',
                         'feels_like_day_y':'feels_like_day_mean',
                         'feels_like_morn_y':'feels_like_morn_mean',
                         'sunrise_y':'sunrise_mean',
                         'humidity_y':"humidity_mean",
                         'wind_speed_y':'wind_speed_mean',
                         'clouds_y':'clouds_mean',
                         'uvi_y':'uvi_mean'})

In [64]:
df_weather.columns

Index(['index', 'name', 'temp_day_max', 'temp_min_max', 'temp_max_max',
       'feels_like_day_max', 'feels_like_morn_max', 'sunrise_max',
       'humidity_max', 'wind_speed_max', 'clouds_max', 'uvi_max',
       'temp_day_mean', 'temp_min_mean', 'temp_max_mean',
       'feels_like_day_mean', 'feels_like_morn_mean', 'sunrise_mean',
       'humidity_mean', 'wind_speed_mean', 'clouds_mean', 'uvi_mean',
       'min_temp_day', 'min_temp_min', 'min_temp_max', 'min_feels_like_day',
       'min_feels_like_morn', 'min_sunrise', 'min_humidity', 'min_wind_speed',
       'min_clouds', 'min_uvi', 'sum_pop', 'latitude', 'longitude',
       'latitude_rounded'],
      dtype='object')

In [65]:

import datetime 
df_weather['sunrise_max'] = df_weather['sunrise_max'].apply(lambda x: datetime.datetime.fromtimestamp(x))
df_weather['sunrise_mean'] = df_weather['sunrise_max'].apply(lambda x: datetime.datetime.fromtimestamp(x))

In [66]:
display(df_weather)

,index,name,temp_day_max,temp_min_max,temp_max_max,feels_like_day_max,feels_like_morn_max,sunrise_max,humidity_max,wind_speed_max,...,min_feels_like_morn,min_sunrise,min_humidity,min_wind_speed,min_clouds,min_uvi,sum_pop,latitude,longitude,latitude_rounded
0,12,Gorges du Verdon,19.43,10.89,19.84,18.52,11.53,2024-09-25 07:25:32,96,4.82,...,7.53,1726636659,40,1.74,24,4.50,3.42,43.749656,6.328562,43.7497
1,25,Château du Haut-Kœnigsbourg,20.42,12.31,20.42,19.95,12.31,2024-09-25 07:21:44,97,6.16,...,7.93,1726636325,55,1.28,0,2.12,5.93,48.249523,7.345492,48.2495
2,19,Annecy,22.77,13.73,22.77,22.23,13.74,2024-09-25 07:26:27,98,2.84,...,8.97,1726636666,43,1.44,19,2.05,3.48,45.899235,6.128885,45.8992
3,21,Besançon,22.92,14.28,23.72,22.63,14.74,2024-09-25 07:26:57,99,5.41,...,8.71,1726636664,52,1.31,0,3.15,5.73,47.238022,6.024362,47.2380
4,27,Mont Saint-Michel,22.07,14.34,24.12,21.61,14.77,2024-09-25 07:57:13,65,7.64,...,10.15,1726638444,49,2.59,5,2.95,4.44,48.635954,-1.511460,48.6360

In [67]:
df_cities_id = df_weather[["index", "name"]]

In [68]:
df_cities_id.head()

   index                         name
0     12             Gorges du Verdon
1     25  Château du Haut-Kœnigsbourg
2     19                       Annecy
3     21                     Besançon
4     27            Mont Saint-Michel

In [69]:
df_cities_id.loc[df_cities_id['name'] == 'Le-Mont-Saint-Michel', 'name'] = 'Le Mont-Saint-Michel'

In [70]:
df_hotel_with_id = df_hotel.merge(df_cities_id, left_on="city_final", right_on="name")

In [71]:
df_hotel_with_id.head()

,city,name_x,url,rating,city_final,latitude,longitude,latitude2,longitude2,description,index,name_y
0,Besançon,Gîtes de l'Orée du Bois,https://www.booking.com/hotel/fr/gites-de-l-39...,9.2,Besançon,47.140367,5.883229,47.158332,5.909699,"Offering a garden and garden view, Gîtes de l'...",21,Besançon
1,Castellane,Hotel Les Restanques De Moustiers,https://www.booking.com/hotel/fr/les-restanque...,9.1,Gorges du Verdon,43.821657,6.197063,43.839623,6.222017,This Provencal-style hotel has a floral terrac...,12,Gorges du Verdon
2,Castellane,Hotel Le Moulin du Château,https://www.booking.com/hotel/fr/le-moulin-du-...,8.9,Gorges du Verdon,43.707751,6.042673,43.725717,6.067579,Le Moulin Du Château is a former olive oil mil...,12,Gorges du Verdon
3,Castellane,Hôtel Spa Les Alpes,https://www.booking.com/hotel/fr/des-alpes-gra...,8.9,Gorges du Verdon,43.740731,5.857135,43.758697,5.882055,Ideally located near the famous Gorges du Verd...,12,Gorges du Verdon
4,Castellane,Le Relais Notre Dame,https://www.booking.com/hotel/fr/relais-notre-...,8.8,Gorges du Verdon,43.681123,6.012344,43.699089,6.037239,"Located at the entrance to Quinson village, ne...",12,Gorges du Verdon

In [72]:
df_hotel_with_id = df_hotel_with_id.drop("name_y" ,axis = 1)

In [73]:
len(df_hotel_with_id)

16

In [74]:
df_hotel_with_id.to_csv("cleaned_hotel.csv")

In [77]:
s3 = boto3.resource("s3")
bucket = s3.Bucket("leaschlossmanjedha")
s3.Bucket('leaschlossmanjedha').upload_file('cleaned_hotel.csv', "Cleaned_Hotel.csv")